@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600');
*{
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}

html {
    background-color: #121212;
}
body {
    width: 100vw;
}
@tailwind base;
@tailwind components;
@tailwind utilities;